
<div class="row">
  <div class="col-xs-3">
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active"><a href="#">全部数据</a></li>
	  <li role="presentation"><a href="#">筛选1</a></li>
	  <li role="presentation"><a href="#">筛选2</a></li>
	</ul>
  </div>

  <div class="col-xs-9">

	<table class="table table-striped table-hover table-bordered">

	  <thead>
		<tr>
		  <th ng-repeat="item in itemList" >{{item.name}}</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="record in recordList" >
		  <td ng-repeat="r in record track by $index">{{r}}</td>
		</tr>

	  </tbody>
	</table>


  </div>
</div>

