

<div class="row">
  <div class="col-sm-2">
	<button class="btn btn-primary btn-sm"  ng-click="uploader.uploadAll()">上传</button>
  </div>
  <div class="col-sm-10">
	<input type="file" nv-file-select="" accept="application/msexcel" uploader="uploader">
  </div>
</form>

<hr>
<br>
<br>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
	  <th>位置</th>
	  <th>错误提示</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="upload in uploadList" >
	  <td>{{upload.location}}</td>
	  <td>{{upload.message}}</td>
    </tr>
  </tbody>
</table>
